In [2]:
# Reemove o arquivo com o banco de dados SQLite (caso exista)
import os
os.remove('dados_pessoais.db') if os.path.exists('dados_pessoais.db') else None

In [3]:
# Importando o módulo de acesso ao SQLite
import sqlite3

In [4]:
# Cria uma conexão com o banco de dados. 
# Se o banco de dados não existir, ele é criado neste momento.
con = sqlite3.connect('dados_pessoais')

In [5]:
type(con)

sqlite3.Connection

In [6]:
# Criando um cursor 
# (Um cursor permite percorrer todos os registros em um conjunto de dados)
cur = con.cursor()

In [7]:
type(cur)

sqlite3.Cursor

In [12]:
# Cria uma instrução sql
sql_create = 'create table dadosPessoais'\
'(id integer primary key, '\
'Nome varchar(200), '\
'Idade interger, '\
'Estado Civil varchar(100), '\
'Cor varchar(100))'

In [13]:
# Executando a instrução sql no cursor
cur.execute(sql_create)

In [19]:
# Criando outra sentença SQL para inserir registros
sql_insert = 'insert into dadosPessoais values (?,?,?,?,?)'

In [20]:
# Dados
data = [(1, 'Fernando da Silva Souza',29,'Solteiro','Branco'),
       (2, 'Rodrigo Matias',19,'Casado','Negro'),
       (3, 'Fábio Gomes',45,'Viúvo','Pardo')
       ]

In [21]:
# Inserindo os registros
for value in data:
    cur.execute(sql_insert, value)

In [22]:
# Grava a transação
con.commit()

In [23]:
# Criando outra sentença SQL para selecionar registros
sql_select = 'select * from dadosPessoais'

In [24]:
# Seleciona todos os registros e recupera os registros
cur.execute(sql_select)
dados = cur.fetchall()

In [25]:
# # Mostrando os dados
for linha in dados:
    print('Dados Pessoais Id: %d, Nome: %s, Idade: %d, Estado Civil: %s, Cor: %s \n ' % linha)

Dados Pessoais Id: 1, Nome: Fernando da Silva Souza, Idade: 29, Estado Civil: Solteiro, Cor: Branco

Dados Pessoais Id: 2, Nome: Rodrigo Matias, Idade: 19, Estado Civil: Casado, Cor: Negro

Dados Pessoais Id: 3, Nome: Fábio Gomes, Idade: 45, Estado Civil: Viúvo, Cor: Pardo

In [1]:
import os
os.remove('dados_cadastrais.db') if os.path.exists('dados_cadastrais.db') else None.

In [2]:
import sqlite3

In [3]:
con1 = sqlite3.connect('dados_cadastrais.db')

In [4]:
type(con1)

sqlite3.Connection

In [5]:
curs1 = con1.cursor()

In [6]:
type(curs1)

sqlite3.Cursor

In [10]:
sql_arquict = 'create table cadastrais'\
'(nome varchar(200) primary key, '\
'idade integer,  '\
'Estado civil varchar(100), '\
'cor varchar(100))'

In [11]:
curs1.execute(sql_arquict)

In [15]:
insert_data = 'insert into cadastrais values (?,?,?,?)'

In [13]:
dados3 = [("Fernando Silva Souza",29,"Solteiro","Branca"),
         ("Pedro Henrique",24,"Casado","Pardo"),
          ("João",29,"Viúvo","Negro"),
          ("Gomes",45,"Solteiro","Branca")]

In [16]:
for dado in dados3:
    curs1.execute(insert_data, dado)

In [17]:
con1.commit()

In [20]:
sql_select = 'select * from cadastrais'

In [21]:
curs1.execute(sql_select)

In [22]:
frame = curs1.fetchall()

In [23]:
for linha in frame:
    print("Dados cadastrais nome: %s, idade: %d, estado civil: %s, cor: %s \n" % linha)

Dados cadastrais nome: Fernando Silva Souza, idade: 29, estado civil: Solteiro, cor: Branca

Dados cadastrais nome: Pedro Henrique, idade: 24, estado civil: Casado, cor: Pardo

Dados cadastrais nome: João, idade: 29, estado civil: Viúvo, cor: Negro

Dados cadastrais nome: Gomes, idade: 45, estado civil: Solteiro, cor: Branca

# Leitura de dados

In [20]:
import sqlite3
import random
import datetime
import time

con3 = sqlite3.connect('dsa.db')

In [21]:
cur3 = con3.cursor()

In [22]:
def create_table():
    cur3.execute('create table if not exists produto(id integer primary key autoincrement not null, date text, '\
             'prod_name text, valor real)')

In [23]:
def data_insert():
    cur3.execute("insert into produto values(002,'02-05-2015','teclado',130.00)")
    con3.commit()
    cur3.close()
    con3.close()

In [24]:
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'monitor'
    new_valor = random.randrange(50,100)
    cur3.execute("insert into produto (date, prod_name, valor) values (?,?,?,?)", 
                (new_date, new_prod_name, new_valor))
    con3.commit()

In [27]:
def leitura_todos_dados():
    cur3.execute("select * from produto")
    for linha in cur3.fetchall():
        print(linha)

In [7]:
def leitura_registros():
    cur3.execute("select * from produto where valor > 60.0")
    for linha in cur3.fetchall():
        print(linha)

In [15]:
# Leitura de colunas específicos
def leitura_colunas():
    cur3.execute("select * from produto")
    for linha in cur3.fetchall():
        print(linha[0])

In [10]:
#Select nos dados
leitura_todos_dados()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)

In [11]:
#Leitura de registros específicos
leitura_registros()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)

In [16]:
#Leitura de colunas específicas
leitura_colunas()

10

In [25]:
# update
def atualiza_dados():
    cur3.execute("update produto set valor = 40 where valor = 90.0")
    con3.commit()

In [26]:
atualiza_dados()

In [28]:
leitura_todos_dados()

(10, '2018-05-02 14:32:11', 'Teclado', 40.0)

In [29]:
con4 = sqlite3.connect('dados_cadastrais.db')

In [30]:
cur4 = con4.cursor()

In [35]:
def leitura_de_dados():
    cur4.execute("select * from cadastrais")
    for linha in cur4.fetchall():
        print(linha)

In [36]:
leitura_de_dados()

('Fernando Silva Souza', 29, 'Solteiro', 'Branca')
('Pedro Henrique', 24, 'Casado', 'Pardo')
('João', 29, 'Viúvo', 'Negro')
('Gomes', 45, 'Solteiro', 'Branca')

In [37]:
def leitura_registros():
    cur4.execute("select * from cadastrais where idade > 25")
    for linha in cur4.fetchall():
        print(linha)

In [38]:
leitura_registros()

('Fernando Silva Souza', 29, 'Solteiro', 'Branca')
('João', 29, 'Viúvo', 'Negro')
('Gomes', 45, 'Solteiro', 'Branca')

In [42]:
def atualizar_dados():
    cur4.execute("update cadastrais set idade = 31 where idade = 29")
    con4.commit()

In [45]:
def remover_dados():
    cur4.execute("delete from cadastrais where idade = 31")
    con4.commit()

In [48]:
remover_dados()

In [46]:
atualizar_dados()

In [49]:
leitura_de_dados()

('Pedro Henrique', 24, 'Casado', 'Pardo')
('Gomes', 45, 'Solteiro', 'Branca')